<html class= "landing-page">
<head></head>
<body>

	<div class="container">
		<div class="top_bar">
			<!-- <a href= "http://www.facebook.com">Connect through Facebook</a> -->
		</div>
		<div class="title">Travel Now!</div>

		<div class="input_area">
		<%= form_tag sessions_path do %>
  		<div class="field">
    		<%= label_tag :email %><br/>
    		<%= text_field_tag :email, params[:email], placeholder: 'email' %><br/><br/>
  		</div>

  		<div class="field">
    		<%= label_tag :password %><br/>
    		<%= password_field_tag :password,  params[:password], placeholder: 'password', class: "infield"%><br/><br/>
  		</div>

  		<br/>
  		<div class="actions"><%= submit_tag "Log in" %></div>
		<% end %>	
		</div>
	</div>
	</div>
</body>
</html>