<h1>Destinations</h1>

<%= link_to "Enter New Destination", "destinations/new" %>

<ul>
		<% @destinations.each do |destination| %>
		<p>
		<%= image_tag(destination.photo) %>
		</p>
	<li><p>
		Destination: <%= link_to destination[:name], destination_path(destination.id) %> <br>
		Country: <%= destination[:country] %> <br>
		Continent: <%= destination[:continent] %> <br>
		Rating: <%= destination[:rating] %> <br>
		Cost: <%= destination[:cost] %> <br>
		Category: <%= destination[:category] %> <br>
		Description: <%= destination[:description] %> <br>
	</li></p>
		<% end %>
</ul>