<h1> <%= @destinations[:name] %>  </h1>	
<p>
<%= @destinations[:country] %> <br>
<%= @destinations[:continent] %> <br>
<%= @destinations[:rating] %> <br>
<%= @destinations[:cost] %> <br>
<%= @destinations[:category] %> <br>
<%= @destinations[:description] %> <br>
</p>

<%= link_to "Back to destinations", destinations_url %>